# Dataset which is too large to push
/data/dataset_tensor/train/*.pt
/data/dataset_tensor/train/*.zip

/data/dataset_tensor/test/*.pt
/data/dataset_tensor/test/*.zip

/data/dataset_tensor/eval/*.pt
/data/dataset_tensor/eval/*.zip

/data/dataset_per_stocks/
/data/dataset_qlib/

# Temp file which is not needed
/tmp_file/
